In [2]:
import pandas as pd
import numpy as np## 12. Exercícios

## 12. Exercícios

1 - Realize os passos seguintes utilizando o mesmo dataset do íris da aula anterior ('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data').

a. Use o pandas para ler o arquivo como um dataframe. Obs: precisa ler o dataframe sem que a primeira linha corresponda ao nome das colunas.

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
result = pd.read_csv(url)
result

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

b. Sabendo que as cinco colunas correspondem, nessa ordem, a: 
   * 1. sepal length (cm)
   * 2. sepal width (cm)
   * 3. petal length (cm)
   * 4. petal width (cm)
   * 5. class: <br>
        - Iris Setosa <br>
        - Iris Versicolor <br>
        - Iris Virginica <br>

Leia novamente o arquivo passando o nome das colunas como argumento.

In [5]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
colunas = [ 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
result = pd.read_csv(url, names=colunas)
result

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

c. Crie uma coluna para o volume sabendo que ele é calculado por (pi x petallength x sepal_length^2)/3

In [7]:
result['volume'] = ( 3.14 * result['petal_length'] * result['sepal_length']**2 ) / 3
result.head()

,sepal_length,sepal_width,petal_length,petal_width,class,volume
0,5.1,3.5,1.4,0.2,Iris-setosa,38.113320
1,4.9,3.0,1.4,0.2,Iris-setosa,35.182653
2,4.7,3.2,1.3,0.2,Iris-setosa,30.057127
3,4.6,3.1,1.5,0.2,Iris-setosa,33.221200
4,5.0,3.6,1.4,0.2,Iris-setosa,36.633333

c. Calcule a média de cada atributo das flores.

In [9]:
result.mean()

C:\Users\Mariana\AppData\Local\Temp/ipykernel_23928/2271195906.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result.mean()

sepal_length      5.843333
sepal_width       3.054000
petal_length      3.758667
petal_width       1.198667
volume          152.632588
dtype: float64

d. Novamente, calcule a média de cada atributo das flores só que agora faça-o separadamente para cada um dos tipos de íris indicados na coluna "class". 
Utilize o loop for para reduzir quantidade de linhas. <br>
Existe diferença entre as médias de cada um dos atributos das flores?

In [34]:
for i in ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']:
    print(i, ': ', "\n", df[df['class']==i].mean(), ' ')

Iris-setosa :
 sepal_length     5.006000
sepal_width      3.418000
petal_length     1.464000
petal_width      0.244000
volume          38.742723
média                 NaN
dtype: float64
Iris-versicolor :
 sepal_length      5.936000
sepal_width       2.770000
petal_length      4.260000
petal_width       1.326000
volume          160.478639
média                  NaN
dtype: float64
Iris-virginica :
 sepal_length      6.588000
sepal_width       2.974000
petal_length      5.552000
petal_width       2.026000
volume          258.676403
média                  NaN
dtype: float64

C:\Users\Mariana\AppData\Local\Temp/ipykernel_35188/2295518692.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(i, ': ', "\n", df[df['class']==i].mean(), ' ')

e. Adicione uma nova coluna com o valor da média de 'sepal length' apenas para a íris da classe Iris-setosa.

In [17]:
media_sepal = result[ result['class']=='Iris-setosa']['sepal_length'].mean()

result['media_setosa'] = np.where( result['class'] == 'Iris-setosa', media_sepal, 0)
result

,sepal_length,sepal_width,petal_length,petal_width,class,volume,media_setosa
0,5.1,3.5,1.4,0.2,Iris-setosa,38.113320,5.006
1,4.9,3.0,1.4,0.2,Iris-setosa,35.182653,5.006
2,4.7,3.2,1.3,0.2,Iris-setosa,30.057127,5.006
3,4.6,3.1,1.5,0.2,Iris-setosa,33.221200,5.006
4,5.0,3.6,1.4,0.2,Iris-setosa,36.633333,5.006
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,244.321307,0.000
146,6.3,2.5,5.0,1.9,Iris-virginica,207.711000,0.000
147,6.5,3.0,5.2,2.0,Iris-virginica,229.952667,0.000
148,6.2,3.4,5.4,2.3,Iris-virginica,217.262880,0.000
149,5.9,3.0,5.1,1.8,Iris-virginica,185.815780,0.000

f. Adicione uma coluna com a média de 'sepal length' de tal forma que cada tipo de íris tenha seu respectivo valor de média. Utilize o loop for e faça isso sem utilizar métodos que não foram ensinados na aula de hoje.